/*
Ray of Sunshine 
#F6DA1E 
Soft Pink 
#FF89C0 
Razzles are for Kids
#941F51
Light Blue
#3478EB
#85AEF3
Dark Blue
#0A1551
*/

#mytextarea {
	font-family: 'Handlee', cursive;
	font-size:33px;
	font-weight: bold;
	color:red;
}

#ideaBox {
	font-size:20px;
}
body { 
	background-size:cover; 
	background-repeat: no-repeat;
	margin:auto;
}
.rows {
	padding-top:10px;
	padding-bottom:400px;
}
.divider {
	margin-top: 15px;
	padding-top: 20px;
}
img {
	height:200px;
	width: 200px; 
	float:center;
	padding: 20px;
}
.buttonSep {
	margin-top:15px;
	display: center;

}

.navBar {
	font-family: 'Handlee', cursive;
	font-size:33px;
	padding:20px;
	text-align:inline-block;
}
.navBarLogo {
	font-family: 'Handlee', cursive;
	font-size: 42px;
	text-align:block;
}
h3 {
	font-family: 'Handlee', cursive;
	font-size: 60px;
}
h2 {
	font-family: 'Handlee', cursive;
	font-size: 30px;
}
p {
	font-family: "Lora", serif;
	font-size:25px;
}
.bodylogo {
	font-family: 'Handlee', cursive;
	font-size:200px;
	color: #FFFFFF;
	display: center;
}
.colorIcon {
	color:#F6DA1E;
}
.colColor {
	background:#6EEB83;
}
.big-icon {
    font-size: 230px;
    color:#000000;
    position:center;
}
.buttonSizeLg {
	width: 300px;
	height: 60px;
	display: center;
	font-size: 30px;
}
.reSize {
	size: ;


}